@use 'sass:color';
@use '/src/scss/variables.scss' as var;

$menu-toggler-width: 25px;
$menu-toggler-height: 18px;
$menu-stripe-height: 2px;
$gradient-bg-color-stop: #121250;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var.$z-index-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var.$header-height-mobile;
  padding: 0 var.$horizontal-gap;
  background-color: color.mix($gradient-bg-color-stop, var.$background-color);
  background-image: linear-gradient(180deg, $gradient-bg-color-stop, var.$background-color);
  box-sizing: border-box;
  box-shadow: 0 0 1px 2px #333333;

  @media (min-width: var.$tablet-min-width) {
    position: static;
    height: auto;
    padding: 0;
    padding-bottom: 80px;
    background: none;
    box-shadow: none;
  }
}

.header__logo {
  flex-basis: 165px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;

  @media (min-width: var.$tablet-min-width) {
    margin-right: 68px;
  }
}

.header__menu-toggler {
  position: relative;
  width: $menu-toggler-width;
  height: $menu-toggler-height;
  border: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: var.$text-color;
  background: transparent;

  &:hover {
    opacity: var.$opacity-hover;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: $menu-stripe-height;
    background-color: var.$text-color;
  }

  &::before {
    top: 0;
    box-shadow: 0 calc((#{$menu-toggler-height} - #{$menu-stripe-height}) / 2) 0 0 var.$text-color;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  &::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }

  @media (min-width: var.$tablet-min-width) {
    display: none;
  }

  &--expanded::before {
    top: calc((#{$menu-toggler-height} - #{$menu-stripe-height}) / 2);
    box-shadow: 0 6px 0 rgba(var.$text-color, 0.0);
    transform: rotate(45deg);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }

  &--expanded::after {
    bottom: calc((#{$menu-toggler-height} - #{$menu-stripe-height}) / 2);
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
}
