@use '/src/scss/variables.scss' as var;

.logo__img {
  width: 160px;
  height: 32px;

  @media (min-width: var.$tablet-min-width) {
    width: 180px;
  }

  .logo--smaller & {
    width: 120px;
    height: 24px;
  }
}
