@use '/src/scss/variables.scss' as var;

.profile {
  display: none;
  align-items: center;
  margin-left: auto;

  @media (min-width: var.$tablet-min-width) {
    display: flex;
  }
}

.profile__rating {
  font-size: 20px;
}

.profile__avatar {
  display: block;
  margin-left: 15px;
}
