@use '/src/scss/variables.scss' as var;

.sort {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 0;
  list-style: none;

  @media (min-width: var.$tablet-min-width) {
    flex-direction: row;
    row-gap: 0;
  }
}

.sort__button {
  display: block;
  max-width: 200px;
  margin-right: 32px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  color: var.$text-color;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    opacity: var.$opacity-hover;
  }

  &:focus-visible {
    border-color: var.$text-color;
  }

  &--active {
    color: var.$text-color-active;
  }
}
