@use '/src/scss/variables.scss' as var;

.sort {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.sort__button {
  display: block;
  margin-right: 32px;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  color: var.$text-color;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &--active {
    color: var.$text-color-active;
  }
}
