.profile {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile__rating {
    font-size: $font-size-bigger;
}

.profile__avatar {
    display: block;
    margin-left: 15px;
}