.footer {
    display: flex;
    align-items: center;
    width: inherit;
    max-width: inherit;
    height: 100px;
    padding-left: inherit;
    padding-right: inherit;
    box-sizing: border-box;
    background: url('./../img/background-footer.png') no-repeat 50% -20px;

    @media (max-width: $mobile-width) {
        display: block;
    }
}

.footer__logo {
    margin-right: auto;

    @media (max-width: $mobile-width) {
        margin-left: $mobile-margin-left;
    }
}

.footer__statistics {
    @media (max-width: $mobile-width) {
        margin-top: 30px;
        margin-left: $mobile-margin-left;
    }
}
