$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$page-max-width: 1240px;
$header-height-mobile: 60px;
$poster-width: 230px;
$poster-height: 340px;

$horizontal-gap: 20px;
$vertical-gap: 28px;

$z-index-header: 10;

$opacity-hover: 0.7;

$text-color: #ffffff;
$text-color-active: #ffe800;
$text-color-good: #7bc549;
$text-color-average: #e49a27;
$text-color-poor: #ff0000;

$background-color: #121213;
$outline-color: #31353f;

$font-family: 'Open Sans', 'Arial', sans-serif;
$font-size: 16px;
$font-size-smaller: 14px;
$font-size-bigger: 20px;
